.marquee-skills
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h2
    {
        font-size: 20rem;
        font-weight: 300;
        display: inline;
        white-space: nowrap;
    }

    .imgbx
    {
        position: absolute;
        left: 50%;
        top: 10%;
        width: 25rem;
        height: 90%;
        transform: translate(-50%,10%);

        img
        {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

}